:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size)* 0.9);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gameboard {
    display: flex;
    width: 300px;
    height: 300px;
    background-color: black;
    flex-wrap: wrap;
    border: solid 1px black;
}

.square {
    display: flex;
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: white;
    border: solid 2px black;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.circle {
    height: var(--mark-size);
    width: var(--mark-size);
    border-radius: 50%;
    border: 15px solid blue;
    box-sizing: border-box;
}

.cross {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--mark-size);
    width: var(--mark-size);
    position: relative;
}

.cross:before,
.cross:after {
    content: "";
    background-color: red;
    position: absolute;
    width: 100%;
    height: 15px;
    border-radius: 2px;


}

.cross:before {
    transform: rotate(45deg);
}

.cross:after {
    transform: rotate(-45deg);
}